<meta charset="UTF-8">
<title>FT Headlines</title>

<link rel="stylesheet" href="https://www.ft.com/__origami/service/build/v2/bundles/css?modules=o-header@^7.5.11,o-footer@^6.0.10,o-fonts@^3" />
<script src="https://www.ft.com/__origami/service/build/v2/bundles/js?modules=o-header@^7.5.11,o-footer@^6.0.10"></script>
<style>
	li {
		font-family: FinancierDisplayWeb, sans-serif;
	}
	h1, h2 {
		font-family: MetricWeb, serif;
	}
</style>
